head {
    text-align: center;
}


body {
    background-image: linear-gradient(to bottom right, yellow, deepskyblue, green);
    text-align: center;
    color: yellow;
    font-size: 40px;
}

h1 {
  color: yellow;
  font-size: 40px;
}

h2 {
  color: yellow;
  font-size: 40px;
}

button {
    font-size: 20px}